<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>客户端-主播间</title>
    <link rel="stylesheet" href="/static/css/layout.css">

    <link rel="stylesheet" href="/static/css/phostess.css">
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="talk-wrap">
        <div class="talk-content" id="talk-list">
            <!--<div class="user-talk" data-pid="11111">-->
            <!--<span class="name">风不大吧</span>-->
            <!--<span class="comment text-purple">发多少公分的水果个发多少公分的水果范德萨国防生的股份躬逢盛典</span>-->
            <!--<span class="opt-btn">-->
            <!--<button type="button" class="btn-xs stop-say">禁言</button>-->
            <!--</span>-->
            <!--<span class="msg-success"><button type="button" class="msg-btn">禁言成功</button></span>-->
            <!--</div>-->
        </div>
    </div>
</div>
</body>
</html>
<script src="/static/js/phostess.js"></script>

